anyio==4.13.0
APScheduler==3.11.2
certifi==2026.4.22
charset-normalizer==3.4.7
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
aiogram==3.25.0
sentry-sdk==2.6.0
sqlalchemy==2.0.30
alembic==1.13.2
GitPython==3.1.43
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
aiohttp==3.11.3
python-dotenv==1.0.1